body {
  margin: 0;
  background-image: url(../images/background.jpg);
}



/********** HEADER STYLES **********/



header {
  height: 120px;
  background: linear-gradient(30deg, #2B3B44, #2B3B44 70%, #FFF);
  color: white;
  border-bottom: 2px solid #FFF;
}

#headerName {
  height: 120px;
  width: 20%;
  margin: 0;
  float: left;
}

header h1 {
  margin: 0;
  padding: 10% 0 0 15%;
  font-family: 'Titillium Web', sans-serif;
}



#headerTags {
  height: 120px;
  width: 25%;
  margin: 0;
  float: left;
  text-align: center;
}

#headerTags ul {
  margin: 0;
  padding: 5% 50% 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  padding: 0 0 5px 0;
}

#headerLogo {
  background: url("../images/logo.png") no-repeat;
  background-size: 100% 100%;
  height: 80px;
  width: 10%;
  margin-top: 20px;
  border-radius: 10px;
  float: left;
}

#headerSpacing {
  height: 120px;
  width: 10%;
  margin: 0;
  padding: 0;
  float: left;
}

#nav {
  width: 35%;
  float: left;
}

#nav li {
  height: 100%;
  font-size: 24px;
  border-left: 1px solid #FFF;
  text-align: center;
  padding: 46px 5.5%;
  float: left;
}



#navBorderRight {
  border-right: 1px solid #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

#nav li:hover {
    background-color: #FFF;
    border: #000;
}

#nav li:hover > .button {
    background-color: #FFF;
    color: #000;
}



/********** BODY STYLES **********/

.content {
  background-color: white;
  width: 50%;
  margin: 40px auto;
  border-radius: 20px;
  text-align: center;
}

.content h2 {
  font-family: 'Fjalla One', sans-serif;
}

.content p{
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.filler {
  height: 30px;
}

#aboutMe {
  width: 80%;
  margin: 20px auto;
  border: 1px solid grey;
}

#aboutPixel {
  width: 80%;
  margin: 20px auto;
  border: 1px solid grey;
}



/********** FOOTER STYLES **********/
footer {
  height: 40px;
  background-color: #2B3B44;
  border-top: 2px solid #FFF;
}
